/*==========================
tab rotate 
===========================*/
@media (min-width: 1201px) and (max-width: 1500px) {
   .hero-area.content-left .banner-item {
      margin: 0;
      min-height: auto;

   }
   .ts-title {
      font-size: 25px;
      line-height: 28px;
   }
   .ts-intro.event-intro{
   
     
     
     
      .single-intro-text{
         padding:20px 18px 20px;
         img{
            width: 105px;
            margin-bottom: 5px;
         }
         
      }
    
   }

}
@media (min-width: 992px) and (max-width: 1200px) {
   .navbar-brand img {
      max-width: 360px;
  }
  
   .hero-area .banner-item {
      margin: 0;
      min-height: auto;

   }
   .hero-area {
      .banner-content-wrap{
         padding: 120px 0px !important;
      }
      .banner-title{
         font-size: 35px!important;
         line-height: 42px!important;
         font-weight: bold!important;
      }
   }

   // header nav
   .header {
      ul.navbar-nav>li>a {
         padding: 0 10px;
         font-size: 13px;
      }
   }

   //banner
   .banner-item .banner-content-wrap .banner-title {
      font-size: 54px;
      line-height: 53px;
      font-weight: bold;
   }

 

   .hero-area {
      margin: 0px;
      height: auto;
   }


}

/*==========================
tab device 
===========================*/

@media(min-width: 768px) and (max-width: 991px) {
   .ts-title {
      font-size: 27px;
      line-height: 27px;
   }

   .dropdown-menu.show {
      display: block;
   }

   // section title
   .section-title {
      margin-bottom: 50px;
      font-size: 31px;
   }

   .pl-0 {
      padding-left: 15px !important;
   }

   // section
   .ts-speakers,
   section {
      padding: 60px 0;
   }

   // header nav
   .navbar-light .navbar-toggler-icon {
      background-image: none;
   }

   .navbar-toggler {
      padding: 8px;
      cursor: pointer;
   }

   .navbar-toggler-icon {
      width: auto;
      height: auto;
   }

   .header {
      .navbar-light .navbar-toggler {
         background: #a9a9a9;
         color: #fff;
         border-color: #a9a9a9;
      }

      ul.navbar-nav {
         >li {
            >a {
               line-height: 28px !important;

               i {
                  float: right;
                  padding-top: 12px;
               }
            }

            .dropdown-menu {
               background: transparent;
               box-shadow: none;
            }
         }
      }
   }

   .header-classic {
      padding: 10px 0;
   }

   .header-transparent {
      .navbar-toggler {
         background: #a9a9a9;
         color: #fff;
      }

      .navbar-nav {
         background: #222;
         padding: 20px 0;

         li {
            .dropdown-menu {
               li {
                  a {
                     color: #fff !important;
                  }
               }
            }
         }
      }
   }

   .header.header-transparent.nav-border .navbar {
      padding: 10px 0;
   }

 

   // banner 
   .banner-img {
      display: none;
   }

   .banner-item {
      min-height: 700px;

      .banner-content-wrap {
         .banner-title {
            font-size: 48px;
            line-height: 56px;
         }
      }
   }

  

   // index 3
   /*---- main slider-----*/
   .main-slider {
      .banner-item {
         .banner-content-wrap {
            p.banner-title {
               margin-bottom: 25px;
            }
         }
      }

      .owl-dots {
         bottom: 170px;
      }
   }

   // index 4
   .hero-area {
      margin: 0;
      height: auto!important;

      .banner-item{
         margin: 50px 0px 0px;
         .banner-content-wrap {
            padding: 115px 0 40px;
         }
      }
   }

 



  

   .ts-intro-item {
      padding: 60px 0 40px;
   }

   .mb-70,
   .intro-left-content {
      margin-bottom: 50px;
   }

   .ts-intro.event-intro {
      padding-top: 80px;
      h4{
         line-height: 30px;
         font-size: 21px;
       }
   }

  
   // speakers
   .ts-speakers {
      padding-bottom: 40px;
   }

   .speaker-classic .ts-speaker {
      margin-bottom: 40px;
   }

   // post
   .post .post-body .entry-header .entry-title {
      font-size: 24px;
      line-height: 28px;
   }

   // about
   .about-intro-text {
      text-align: center !important;
      max-width: 500px;
      margin: auto auto 30px;
   }
   // venue
   .intro-content-text {
      margin-bottom: 40px;
   }


   .map-left {
      .ts-map {
         margin-bottom: 40px;
      }
   }

 

   //Navigation scroll
   .header .navbar-collapse {
      max-height: 320px;
      max-width: none;
      overflow: auto;
      float: none !important;
      width: 100% !important;
      padding: 0px;
      border:0;
  }

   .header .navbar-nav {
      position: static;
      margin: 0px;
   }


}

/*==========================
small device /mobile sm and large
===========================*/
@media (max-width: 767px) {
   .section-events{
      .big-subtitle{
         font-size: 33px;
      }
      .features-icons-item{
         h3{
            font-size: 26px;
         }
      }
   }
   .ts-schedule {
      background-attachment: scroll;
   }

   .dropdown-menu.show {
      display: block;
   }

   .mb-100 {
      margin-bottom: 50px;
   }

 



   .navbar-light .navbar-toggler-icon {
      background-image: none;
   }

   .header.header-transparent.nav-border .navbar {
      padding: 10px 0;
   }

   .header {
      .navbar-light .navbar-toggler {
         background: #a9a9a9;
         color: #fff;
         border-color: #a9a9a9;
      }

      ul.navbar-nav {
         >li {
            >a {
               line-height: 23px !important;
               font-size: 17px;

               i {
                  float: right;
                  padding-top: 12px;
               }
            }

            .dropdown-menu {
               box-shadow: none;
            }
         }
      }
      // header 
   
      
      &.h-transparent2{
         .navbar.navbar-light {
            ul.navbar-nav {
               >li {
                  >a {
                     color: #fff;
                     text-align: left;
                     i {
                        float: right;
                        padding-top: 12px;
                     }
                  }
               }
            }
         }
      }
   
   }

   .header-classic {
      padding: 10px 0;
   }

   .navbar-nav {
      padding: 20px 0;
   }

   .navbar-toggler {
      padding: 8px;
      cursor: pointer;
   }

   .navbar-toggler-icon {
      width: auto;
      height: auto;
   }

   .header .navbar-brand {
      padding: 0 ;
      img {
         max-width: 210px;
      }
   }

   .header-transparent {
      .navbar-toggler {
         background: #e7015e;
         color: #fff;
      }

      .navbar-nav {
         background: #222;
         padding: 20px 0;
      }

      .dropdown-menu {
         background: transparent;
         box-shadow: none !important;
         padding: 10px 25px;

         li {
            a {
               color: #fff !important;
            }
         }
      }
   }

   .header ul.navbar-nav>li.header-ticket {
      padding: 0 15px;

      .ticket-btn {
         margin-left: 0;
      }
   }

   

   // banner 
   .banner-img {
      display: none;
   }

  

 
   .hero-area {
   
      background-image: url('../images/banner/01-KvBrochure-B2B_web.jpg');
      padding: 0;
      background-size: cover; 
      background-attachment: scroll; 
         background-position: center 85%;
         .banner-item {
            min-height: 550px;
            margin: 65px 0px 0px;
      
            .banner-content-wrap {
               padding: 90px 0 50px;
      
               p.banner-info {
                  font-size: 18px;
               }
      
               .banner-title {
                  font-size: 28px;
                  font-size: 30px;
                  margin-bottom: 35px;
                  line-height: 40px;
                  font-weight: bold;
               }
      
      
             
            }
         }

   }
 
   // index 3 slider

  




   .footer-menu ul li a {
      display: inline-block;
      margin: 5px 20px;
   }

 

   .header .navbar-nav {
      position: static;
      margin: 0px;
   }
   .pb_form_v1{
      padding: 50px 15px;
   }
   .ts-title {
      font-size: 25px;
      line-height: 28px;
   }
   .ts-intro.event-intro{
   
     
     
     
      .single-intro-text{
         padding:20px 35px 20px;
         img{
            width: 105px;
            margin-bottom: 0px;
         }
         
      }
    
   }

}
@media (max-width: 480px){
   .section-events{
      .big-subtitle{
         font-size: 29px;
      }
      .features-icons-item{
         h3{
            font-size: 23px;
         }
      }
   }
   .header .navbar{
      padding: 30px 0px;
   }
   .hero-area {

      .banner-item{
         margin: 50px 0px 0px;
         .banner-content-wrap {
            padding: 55px 0 15px;
            .banner-title{
               font-size: 30px;
               line-height: 32px;
            }
         }
      }
   }

   .header .navbar-brand {
      padding: 0 ;
      img {
         max-width: 186px;
      }
   }
  .text-title{
   font-size: 20px;
   line-height: 30px;
}
.ts-title {
   font-size: 25px;
   line-height: 26px;
}
.ts-intro.event-intro{
.single-intro-text{
      padding:20px 35px 20px;
      img{
         width: 95px;
         margin-bottom: 0px;
      }
      
   }
 
}
.section-title{
   margin-bottom: 10px;
   font-weight: bold;
}

  
 
}
@media (max-width: 375px){
   .header .navbar-brand {
      padding: 0 ;
      img {
         max-width: 185px;
        
      }
   }
   .ts-title {
      font-size: 24px;
      line-height: 26px;
   }
  

}
@media (max-width: 368px){
 
   .ts-title {
      font-size: 24px;
      line-height: 26px;
   }
   .hero-area {

      .banner-item{
         .banner-content-wrap {
            .banner-title{
               font-size: 24px;
               line-height: 26px;
            }
         }
      }
   }
  

}


@media (max-width: 320px){
 
   .btn{
      font-size: 17px;
   }
   .btn-wsp{
      font-size: 14px;
   }
   .text-title{
      font-size: 17px;
      line-height: 27px;
   }
   .ts-title {
      font-size: 21px;
      line-height: 24px;
   }
   .ts-intro.event-intro{
   .single-intro-text{
         padding:20px 18px 20px;
         img{
            width: 95px;
            margin-bottom: 0px;
         }
         
      }
    
   }
     
}
@media (max-width: 300px){
 
   .ts-schedule-white{
      
      p{
         font-size: 23px;
      }
   }
}