
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;



$white-color: #fff;
$primary-color: #c1b170;
$primary-dark: #d20055;
$secondary-color: #7184a7;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #b9babd;
$gray-secondary: #e1e2e4;
$black-color: #c9c9c9;
$text-color: #888888;

